<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container" style="font-weight:bold">
                <a class="navbar-brand" asp-action="Index">EMS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="flex-grow: initial">
                    <ul class="navbar-nav flex-grow-1">
                        @if (@HttpContextAccessor.HttpContext.Session.GetString("role") != null && @HttpContextAccessor.HttpContext.Session.GetString("role") == "admin")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #f74d23">Admin Management</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Users">User</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="UserRoles">User Role</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Roles">Role</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Events">Event</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="EventTickets">Event Ticket</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="EventStatus">Event Status</a>
                                </div>
                            </li>
                        }
                        @if (@HttpContextAccessor.HttpContext.Session.GetString("role1") != null && @HttpContextAccessor.HttpContext.Session.GetString("role1") == "host")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #f74d23">Host Management</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Events">Event</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="EventTickets">Event Ticket</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="EventStatus">Event Status</a>
                                </div>
                            </li>
                        }
                        @if (@HttpContextAccessor.HttpContext.Session.GetInt32("id") == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href='../home/Login'>Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href='../home/Register'>Register</a>
                            </li>
                        }
                        @if (@HttpContextAccessor.HttpContext.Session.GetInt32("id") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href='../home/Logout'>Logout</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - EMS
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>