@page
@model EMS.Pages.EventInvitation.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form>
    <p>
        Search by name: <input type="text" asp-for="SearchString" />
        <input type="submit" class="btn btn-primary" value="Search" /> | 
        <a class="btn btn-info" asp-page="Create">Create New</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventInvitation[0].SentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventInvitation[0].TextResponse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventInvitation[0].ResponseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventInvitation[0].Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventInvitation[0].InvitationResponse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventInvitation[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EventInvitation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextResponse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvitationResponse.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Bio)
            </td>
            <td>
                <a class="btn btn-success" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.EventInvitation.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.EventInvitation.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.EventInvitation.PageIndex - 1)"
   asp-route-currentFilter="@Model.SearchString"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.EventInvitation.PageIndex + 1)"
   asp-route-currentFilter="@Model.SearchString"
   class="btn btn-primary @nextDisabled">
    Next
</a>
