@page
@model EMS.Pages.AllowedEventGroup.IndexModel

<form>
    <p>
        Search by description: <input type="text" asp-for="SearchString" />
        <input type="submit" class="btn btn-primary" value="Search" /> | 
        <a class="btn btn-info" asp-page="Create">Create New</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AllowedEventGroup[0].Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowedEventGroup[0].Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AllowedEventGroup) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Description)
            </td>
            <td>
                <a class="btn btn-success" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.AllowedEventGroup.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.AllowedEventGroup.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.AllowedEventGroup.PageIndex - 1)"
   asp-route-currentFilter="@Model.SearchString"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.AllowedEventGroup.PageIndex + 1)"
   asp-route-currentFilter="@Model.SearchString"
   class="btn btn-primary @nextDisabled">
    Next
</a>