@page
@model EMS.Pages.User.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form>
    <p>
        Search by name: <input type="text" asp-for="SearchString" />
        <input type="submit" class="btn btn-primary" value="Search" /> | 
        <a class="btn btn-info" asp-page="Create">Create New</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Bio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a class="btn btn-success" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.User.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.User.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.User.PageIndex - 1)"
   asp-route-currentFilter="@Model.SearchString"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.User.PageIndex + 1)"
   asp-route-currentFilter="@Model.SearchString"
   class="btn btn-primary @nextDisabled">
    Next
</a>