@model IEnumerable<MVC.Models.Event>;

@{
    ViewData["Title"] = "Event Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- slider_area_start -->
<div class="slider_area slider_bg_1">
    <div class="slider_text">
        <div class="container">
            <div class="position_relv">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="title_text title_text2 ">
                            <h3>Event</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->
<!--================Blog Area =================-->
<section class="blog_area section-padding">
    <div class="container">
        <div class="col-lg-12">
            <form action="#">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <button class="btn" type="button">
                                <i class="ti-search"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control mr-3" placeholder='Search Keyword'
                               onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Search Keyword'">
                        <button class="btn btn-primary"
                                type="submit">
                            Search
                        </button>
                    </div>
                </div>
            </form>
            <div class="row">
                @foreach (var e in Model)
                {
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" style="height: 330px;" src="@Html.DisplayFor(ev => e.Images)" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>@Html.Raw(e.StartDateTime.ToString("dd"))</h3>
                                    <p>@Html.Raw(e.StartDateTime.ToString("MMM"))</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" asp-action="EventDetails" asp-controller="Home" asp-route-id="@e.Id">
                                    <h2>@Html.Raw(e.Name)</h2>
                                </a>
                                <p>@Html.Raw(e.Description)</p>
                                <ul class="blog-info-link">
                                    <li>
                                        <a href="#"><i class="fa fa-user"></i>@Html.Raw(e.CreationUser.FirstName + " " + e.CreationUser.LastName)</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-comments"></i>@Html.Raw(e.Comments.Count) Comments</a>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    </div>
                }
            </div>
        </div>
    </div>
</section>