@page
@model EMS.Pages.Event.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.RegistrationEndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.RegistrationEndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.StartDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.StartDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EndDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EndDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Place)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.IsPublic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.IsPublic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.CreationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.CreationUser.Bio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Status.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Images)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Images)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Event.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
