@page
@model EMS.Pages.Event.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.RegistrationEndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.RegistrationEndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.StartDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.StartDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EndDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EndDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Place)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.IsPublic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.IsPublic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.CreationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.CreationUser.Bio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Status.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Images)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Images)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Event.Id">Edit</a>
    <a asp-page="./Index">Back to List</a>
</div>
