@page
@model EMS.Pages.EventHistoryModel
@{  Layout = null; }

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" >
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="./fonts/line-icons.css">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="./css/nivo-lightbox.css" >
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="./css/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="./css/responsive.css">

<header id="header-wrap">
          <!-- Navbar Start -->
          <nav class="navbar navbar-expand-lg bg-inverse fixed-top scrolling-navbar">
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <a href="/index" class="navbar-brand" style="color: #ff4a4a">
                  EMS
                  </a>       
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="lni-menu"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                  <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
                                </li>
                  @if (@HttpContextAccessor.HttpContext.Session.GetString("role") !=null && @HttpContextAccessor.HttpContext.Session.GetString("role") == "admin")
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin Management</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" asp-area="" asp-page="/User/Index">User</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/UserRole/Index">User Role</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/Role/Index">Role</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/InvitationResponseType/Index">Invitation Response Type</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-area="" asp-page="/Group/Index">Group</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/GroupUser/Index">Group User</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-area="" asp-page="/Event/Index">Event</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/EventInvitation/Index">Event Invitation</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/EventTicket/Index">Event Ticket</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/EventStatus/Index">Event Status</a>
                                             <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-area="" asp-page="/Comment/Index">Comment</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/AllowedEventGroup/Index">Allowed Event Group</a>
                                        </div>
                                    </li>
                                }
                                @if (@HttpContextAccessor.HttpContext.Session.GetString("role1") !=null &&@HttpContextAccessor.HttpContext.Session.GetString("role1") == "host")
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Host Management</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" asp-area="" asp-page="/Group/Index">Group</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/GroupUser/Index">Group User</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-area="" asp-page="/Event/Index">Event</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/EventInvitation/Index">Event Invitation</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/EventTicket/Index">Event Ticket</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/EventStatus/Index">Event Status</a>
                                             <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-area="" asp-page="/Comment/Index">Comment</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/AllowedEventGroup/Index">Allowed Event Group</a>
                                        </div>
                                    </li>
                                }
                                @if (@HttpContextAccessor.HttpContext.Session.GetInt32("id") == null)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-page="/Login">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-page="/Register">Register</a>
                                    </li>
                                }
                                @if (@HttpContextAccessor.HttpContext.Session.GetInt32("id") != null)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" style="right" asp-page="/Login" asp-page-handler="Logout">Logout</a>
                                    </li>
                                }
                </ul>
              </div>
            </div>
          </nav>
          <!-- Navbar End -->
      </header>
 <div id="hero-area" class="hero-area-bg">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-9 col-sm-12">
              <div class="contents text-center">
                <div class="icon">
                  <i class="lni-mic"></i>
                </div>
                <p class="banner-info"></p>
                <h2 class="head-title">Events</h2>
                
              </div>
            </div>
          </div>
        </div>
      </div>

      <section id="event-up" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title-header text-center">
              <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Upcoming Events</h2>
              <p class="wow fadeInDown" data-wow-delay="0.2s">All of the upcomming event!</p>
              <form>
                <p>
                    <input type="text" class="form-control" placeholder="Event's Name" asp-for="SearchString" /> <br />
                    <input type="submit" class="btn btn-common btn-lg" value="Search" />
                </p>
            </form>
            </div>
          </div>
        
        <div class="row">
            </div>@foreach (var item in Model.Event) {
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="event-item" style="padding:10px 10px 10px 10px">
              <img class="img-fluid" src="./img/event/img2.jpg" alt="" @*@Html.DisplayFor(modelItem => item.Images) *@>
              <div class="overlay-text">
                <div class="content">
                  <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                  <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
        <div class="row mt-5">
          <div class="col-12 text-center">
            <a class="btn btn-common" asp-area="" asp-page="Index_Guest">More Event</a>
          </div>
        </div>
      </div>
    </section>

     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/jquery-min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.countdown.min.js"></script>
    <script src="./js/waypoints.min.js"></script>
    <script src="./js/jquery.counterup.min.js"></script>
    <script src="./js/jquery.nav.js"></script>
    @*<script src="./js/jquery.easing.min.js"></script>*@
    <script src="./js/wow.js"></script>
    <script src="./js/nivo-lightbox.js"></script>
    <script src="./js/video.js"></script>
    <script src="./js/main.js"></script> 
