@page
@model EMS.Pages.LoginModel

@{
    ViewData["Title"] = "Login page";
    Layout = null ;
}

<!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" >
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="./fonts/line-icons.css">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="./css/nivo-lightbox.css" >
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="./css/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="./css/responsive.css">

<header id="header-wrap">
          <!-- Navbar Start -->
          <nav class="navbar navbar-expand-lg bg-inverse fixed-top scrolling-navbar">
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <a href="/index" class="navbar-brand" style="color: #ff4a4a">
                  EMS
                  </a>       
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="lni-menu"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                  <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
                                </li>
                  @if (@HttpContextAccessor.HttpContext.Session.GetString("role") !=null && @HttpContextAccessor.HttpContext.Session.GetString("role") == "admin")
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin Management</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" asp-area="" asp-page="/User/Index">User</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/UserRole/Index">User Role</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/Role/Index">Role</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/InvitationResponseType/Index">Invitation Response Type</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-area="" asp-page="/Group/Index">Group</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/GroupUser/Index">Group User</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-area="" asp-page="/Event/Index">Event</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/EventInvitation/Index">Event Invitation</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/EventTicket/Index">Event Ticket</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/EventStatus/Index">Event Status</a>
                                             <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-area="" asp-page="/Comment/Index">Comment</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/AllowedEventGroup/Index">Allowed Event Group</a>
                                        </div>
                                    </li>
                                }
                                @if (@HttpContextAccessor.HttpContext.Session.GetString("role1") !=null &&@HttpContextAccessor.HttpContext.Session.GetString("role1") == "host")
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Host Management</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" asp-area="" asp-page="/Group/Index">Group</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/GroupUser/Index">Group User</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-area="" asp-page="/Event/Index">Event</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/EventInvitation/Index">Event Invitation</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/EventTicket/Index">Event Ticket</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/EventStatus/Index">Event Status</a>
                                             <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-area="" asp-page="/Comment/Index">Comment</a>
                                            <a class="dropdown-item" asp-area="" asp-page="/AllowedEventGroup/Index">Allowed Event Group</a>
                                        </div>
                                    </li>
                                }
                                @if (@HttpContextAccessor.HttpContext.Session.GetInt32("id") == null)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-page="/Login">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-page="/Register">Register</a>
                                    </li>
                                }
                                @if (@HttpContextAccessor.HttpContext.Session.GetInt32("id") != null)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" style="right" asp-page="/Login" asp-page-handler="Logout">Logout</a>
                                    </li>
                                }
                </ul>
              </div>
            </div>
          </nav>
          <!-- Navbar End -->
      </header>

      <div id="hero-area" class="hero-area-bg">
          
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-9 col-sm-12">
              <div class="contents text-center">
                <p class="banner-info"></p><h1>Login</h1>
                    <h4>@Model.Msg</h4>
               <div class="row justify-content-center">
          <div class="col-lg-8 col-md-12 col-xs-12">
            <div class="container-form wow fadeInLeft" data-wow-delay="0.2s">
              <div class="form-wrapper">
                <form role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group" style="font-weight: bold; color: black">
                                <label asp-for="Account.Email" class="control-label"></label>
                                <input asp-for="Account.Email" class="form-control" />
                                <span asp-validation-for="Account.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="font-weight: bold; color: black">
                                <label asp-for="Account.Password" class="control-label"></label>
                                <input asp-for="Account.Password" class="form-control" type="password" />
                                <span asp-validation-for="Account.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Login" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
               </div>
             </div>
           </div>
         </div>
      </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="./js/jquery-min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.countdown.min.js"></script>
    <script src="./js/waypoints.min.js"></script>
    <script src="./js/jquery.counterup.min.js"></script>
    <script src="./js/jquery.nav.js"></script>
    @*<script src="./js/jquery.easing.min.js"></script>*@
    <script src="./js/wow.js"></script>
    <script src="./js/nivo-lightbox.js"></script>
    <script src="./js/video.js"></script>
    <script src="./js/main.js"></script>      