@model MVC.Models.EventInvitation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EventInvitation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TextResponse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TextResponse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvitationResponse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvitationResponse.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Bio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
